#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
build/
.idea/
*.iml
*.ipr
*.iws
out

#Gradle
.gradle/

#Maven
target
release.properties
pom.xml.*
project.properties
gradle.properties

#Ant
build.xml
local.properties
proguard.cfg

#OSX
.DS_Store